.Explanation {
  width: 100%;
  font-size: 1rem;

  h1 {
    font-size: 1.2rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.15rem;
  }

  code {
    padding: 1px;
    border: 1px groove var(--fg);
    background-color: var(--bg-secondary);
  }

  .tabs {
    margin: 0;
    padding: 0.5rem 0;
    height: 3rem;

    button {
      border: 0;
      padding: 0.5rem;
      margin: 0 0.1rem;
      background-color: var(--bg-secondary);
      color: var(--fg);
      cursor: pointer;
    }

    .active {
      border-bottom: 1px solid var(--primary);
    }
  }

  .explanation {
    padding: 0.5rem;
    height: calc(50% - 3rem);
    overflow: auto;
  }

  .testCode {
    width: 100% !important;
    height: 50% !important;
  }

  .only {
    padding: 0.5rem;
    width: 100% !important;
    height: calc(100% - 3rem) !important;
    overflow: scroll;
  }
}
